body{background-color: #f1f2f3;
}

#main{
  text-align: center;
  font-family: arial;
  background-color: #d3dbde;
  margin: 10px;
  padding: 0 10px 20px 10px;
}

img{
  max-width: 100%;
  display: block;
  margin: auto;
}

#header{
  padding-top: 15px;
  padding-bottom: 5px;
}

#img-div{
  background-color: #f1f2f3;
  padding: 20px;
}

#img-caption{
  margin: 10px auto;
  max-width: 75%;
}

h2{
  margin: 40px;
}

ul li{
  max-width: 50%;
  text-align: left;
  margin: auto;
  margin-bottom: 5px;
}

#quote{
  margin: 30px auto 5px auto;
  max-width: 75%;
}

#quote-author{
  margin-bottom: 30px;
}

h2{
  max-width: 80%;
}